package-lock=false

shamefully-hoist=true

strict-peer-dependencies=false

auto-install-peers=true

registry=https://registry.npmmirror.com

node-mirror=https://npmmirror.com/mirrors/node/

npm-mirror=https://npmmirror.com/mirrors/npm/

pnpm-mirror=https://npmmirror.com/mirrors/pnpm/

network-timeout=100000

prefer-offline=true

frozen-lockfile=false

resolution-mode=highest

node-linker=hoisted